<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/styles.css'>
</head>
<body>
    <h1>{{title}}</h1>

<div>
    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">help</a>
</div>
</body>
</html>